CustomerClient_WebApplication/Connected Services/OrderServiceReference/OrderWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="AutoOrderId">
        <s:complexType />
      </s:element>
      <s:element name="AutoOrderIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AutoOrderIdResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchProdcut">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="productname" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchProdcutResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchProdcutResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getProductName">
        <s:complexType />
      </s:element>
      <s:element name="getProductNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getProductNameResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getProductId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ProductName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getProductIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getProductIdResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertOrder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="orderId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="customer" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="flowerId" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="qty" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertOrderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InsertOrderResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DisplayOrder">
        <s:complexType />
      </s:element>
      <s:element name="DisplayOrderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DisplayOrderResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateOrder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="OrderId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ProductId" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Qty" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="customer" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateOrderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateOrderResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteOrder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="OrderId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteOrderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DeleteOrderResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AutoOrderIdSoapIn">
    <wsdl:part name="parameters" element="tns:AutoOrderId" />
  </wsdl:message>
  <wsdl:message name="AutoOrderIdSoapOut">
    <wsdl:part name="parameters" element="tns:AutoOrderIdResponse" />
  </wsdl:message>
  <wsdl:message name="SearchProdcutSoapIn">
    <wsdl:part name="parameters" element="tns:SearchProdcut" />
  </wsdl:message>
  <wsdl:message name="SearchProdcutSoapOut">
    <wsdl:part name="parameters" element="tns:SearchProdcutResponse" />
  </wsdl:message>
  <wsdl:message name="getProductNameSoapIn">
    <wsdl:part name="parameters" element="tns:getProductName" />
  </wsdl:message>
  <wsdl:message name="getProductNameSoapOut">
    <wsdl:part name="parameters" element="tns:getProductNameResponse" />
  </wsdl:message>
  <wsdl:message name="getProductIdSoapIn">
    <wsdl:part name="parameters" element="tns:getProductId" />
  </wsdl:message>
  <wsdl:message name="getProductIdSoapOut">
    <wsdl:part name="parameters" element="tns:getProductIdResponse" />
  </wsdl:message>
  <wsdl:message name="InsertOrderSoapIn">
    <wsdl:part name="parameters" element="tns:InsertOrder" />
  </wsdl:message>
  <wsdl:message name="InsertOrderSoapOut">
    <wsdl:part name="parameters" element="tns:InsertOrderResponse" />
  </wsdl:message>
  <wsdl:message name="DisplayOrderSoapIn">
    <wsdl:part name="parameters" element="tns:DisplayOrder" />
  </wsdl:message>
  <wsdl:message name="DisplayOrderSoapOut">
    <wsdl:part name="parameters" element="tns:DisplayOrderResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateOrderSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateOrder" />
  </wsdl:message>
  <wsdl:message name="UpdateOrderSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateOrderResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteOrderSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteOrder" />
  </wsdl:message>
  <wsdl:message name="DeleteOrderSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteOrderResponse" />
  </wsdl:message>
  <wsdl:portType name="OrderWebServiceSoap">
    <wsdl:operation name="AutoOrderId">
      <wsdl:input message="tns:AutoOrderIdSoapIn" />
      <wsdl:output message="tns:AutoOrderIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchProdcut">
      <wsdl:input message="tns:SearchProdcutSoapIn" />
      <wsdl:output message="tns:SearchProdcutSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getProductName">
      <wsdl:input message="tns:getProductNameSoapIn" />
      <wsdl:output message="tns:getProductNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getProductId">
      <wsdl:input message="tns:getProductIdSoapIn" />
      <wsdl:output message="tns:getProductIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertOrder">
      <wsdl:input message="tns:InsertOrderSoapIn" />
      <wsdl:output message="tns:InsertOrderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DisplayOrder">
      <wsdl:input message="tns:DisplayOrderSoapIn" />
      <wsdl:output message="tns:DisplayOrderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateOrder">
      <wsdl:input message="tns:UpdateOrderSoapIn" />
      <wsdl:output message="tns:UpdateOrderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteOrder">
      <wsdl:input message="tns:DeleteOrderSoapIn" />
      <wsdl:output message="tns:DeleteOrderSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="OrderWebServiceSoap" type="tns:OrderWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AutoOrderId">
      <soap:operation soapAction="http://tempuri.org/AutoOrderId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchProdcut">
      <soap:operation soapAction="http://tempuri.org/SearchProdcut" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProductName">
      <soap:operation soapAction="http://tempuri.org/getProductName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProductId">
      <soap:operation soapAction="http://tempuri.org/getProductId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertOrder">
      <soap:operation soapAction="http://tempuri.org/InsertOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DisplayOrder">
      <soap:operation soapAction="http://tempuri.org/DisplayOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateOrder">
      <soap:operation soapAction="http://tempuri.org/UpdateOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteOrder">
      <soap:operation soapAction="http://tempuri.org/DeleteOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="OrderWebServiceSoap12" type="tns:OrderWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AutoOrderId">
      <soap12:operation soapAction="http://tempuri.org/AutoOrderId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchProdcut">
      <soap12:operation soapAction="http://tempuri.org/SearchProdcut" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProductName">
      <soap12:operation soapAction="http://tempuri.org/getProductName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProductId">
      <soap12:operation soapAction="http://tempuri.org/getProductId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertOrder">
      <soap12:operation soapAction="http://tempuri.org/InsertOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DisplayOrder">
      <soap12:operation soapAction="http://tempuri.org/DisplayOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateOrder">
      <soap12:operation soapAction="http://tempuri.org/UpdateOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteOrder">
      <soap12:operation soapAction="http://tempuri.org/DeleteOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OrderWebService">
    <wsdl:port name="OrderWebServiceSoap" binding="tns:OrderWebServiceSoap">
      <soap:address location="https://localhost:44311/OrderWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="OrderWebServiceSoap12" binding="tns:OrderWebServiceSoap12">
      <soap12:address location="https://localhost:44311/OrderWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>